appdirs==1.4.4
asgiref==3.3.4
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
cx-Oracle==8.1.0
distlib==0.3.1
Django==3.2
django-crispy-forms==1.11.2
django-dynamic-model==0.3.0
django-phonenumber-field==5.1.0
filelock==3.0.12
idna==2.10
importlib-metadata==4.0.1
mysqlclient==2.0.3
phonenumbers==8.12.23
pytz==2021.1
requests==2.25.1
selenium==3.141.0
six==1.15.0
sqlparse==0.4.1
typing-extensions==3.7.4.3
urllib3==1.26.5
virtualenv==20.4.4
virtualenvwrapper-win==1.2.6
webdriver-manager==3.4.2
zipp==3.4.1
